*{
    margin: 0;
    padding: 0;
    font-family: 'K2D', sans-serif;
}


#nav-bar{
    height: fit-content;
    width: 100%;
    background-color: black;
    color: white;
    display: inline-flex;
    justify-content: space-around;
    padding: 10px;
}

#left-nav{
    display: inline-flex;
    align-items: center;
}

#left{
    display: inline-flex;
}

.links{
    margin-left: 20px;
    color: white;
    text-decoration: none
}

li{
    list-style-type: none;
}

button{
    margin: 10px;
    padding: 3px 10px 3px 10px;
    color: white;
    background-color: rgb(96, 207, 207);
    border: 2px solid black;
}

#container{
    height: 900px;
    width: 630px;
    margin: auto;
    margin-top:30px;
    display:flex

}

#column1{
    width: 400px;
    height: 800px;
    flex-direction: column;
}

#column2{

    height: 800px;
    margin-left: 20px;
    flex-direction: column;

}

#mainProfile{
    width: 400px;
    height: 360px;
    border: 2px solid gray;
}

#education-box{
    width: 400px;
    height: 185px;
    margin-top: 20px;
    border: 2px solid gray;
}

#requests{
    background-color: white;
    height: 160px;
    border: 2px solid gray;
}

#connections{
    height: 400px;
    margin-top: 20px;
}

#blue{
    height: 25%;
    background-color: rgb(96, 207, 207);
    width: 100%;
}

#main-info{
    background-color: white;
    height: 75%;
    width: 100%;
}

.icons{
    width: 20px;
    height: 20px;
}

#infos{
    padding-top: 60px;
    padding-left: 20px;
}

.info{
    margin: 10px;
}


#edit-profile{
    margin-left: 10px;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

#edit-profile > a{
    padding-left: 10px;
}

#profile-photo{
    height: 100px;
    position:absolute;
    top:130px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 50%;
    outline: 1px solid gray;
}

#education-bar{
    height: 20%;
    background-color: rgb(60, 59, 59);
    padding-left: 20px;
    align-items: center;
    display: flex;
    color: white;
}

#education-info{
    padding: 20px;
    background-color: white;
}


#connection-requests{
    height: 50px;
    background-color: rgb(60, 59, 59);
    color: white;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.Count{
    background-color: rgb(169, 166, 166);
    height: 30px;
    width: 30px;
    border-radius: 50%;
}


li > img{
    width: 30px;
    padding: 5px;
}

.user-request{
    display: flex;
    justify-content: space-around;
}

ul{
    display: flex;
    align-items: center;
    padding: 5px;
}

#flex-connection{
    display: flex;
    align-items: center;
    background-color: gray;
    color: white;
    background-color: rgb(60, 59, 59);
    font-size: 13px;  
}

#flex-connection > button{
    border-radius: 50%;
    background-color: rgb(169, 166, 166);

}

#suggestions{
    padding-top: 5px;
    border: 2px solid rgb(169, 166, 166);
    border-bottom: none;
}

.user-suggestion{
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.user-suggestion > p {
    padding-left: 10px;
}

#view-more{
    padding: 10px;
    border: 2px solid rgb(169, 166, 166);
}

#time{
    color: rgb(169, 166, 166);
}